if TARGET_AX650_XPILOT_6V

config SYS_BOARD
	default "ax650_xpilot_6v"

config SYS_VENDOR
	default "axera"

config SYS_CONFIG_NAME
	default "ax650_xpilot_6v"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

config BOOT_OPTIMIZATION
	def_bool y
	help
	  Enable boot optimization.
	  1. New Image and dtb image format.

endif
